[project]
	description = Starting up a new bare repo under aayudha. Procedure to reach till here documnented in the README under it
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vinay (aayudha)
[access "refs/for/refs/*"]
	read = group user/Vinay (aayudha)
	push = group user/Vinay (aayudha)
	label-Code-Review = -2..+2 group user/Vinay (aayudha)
	label-Verified = -1..+1 group user/Vinay (aayudha)
	rebase = group user/Vinay (aayudha)
	removeReviewer = group user/Vinay (aayudha)
	submit = group user/Vinay (aayudha)
[access "refs/heads/*"]
	read = group user/Vinay (aayudha)
	create = group user/Vinay (aayudha)
	push = +force group user/Vinay (aayudha)
	pushMerge = group user/Vinay (aayudha)
[access "refs/tags/*"]
	push = +force group user/Vinay (aayudha)
	pushTag = group user/Vinay (aayudha)
	pushSignedTag = group user/Vinay (aayudha)
